
.nav-bar {
	background-color: #ffcc99;
	font-family: Georgia, Serif;
	border: 2px solid;
	border-radius: 25px;
}

.top-container {
	text-align: center;
	margin: 0 auto;
}

.tile-container {
	margin: 0 auto;
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
}

.tile {
	background-color: red;
	border-color: black;
	border-style: dotted;
	border-width: 1px;
	display: inline-block;
}

.tileRow {
	clear: both;
	display: block;
}